/* ------------------------------------------------------------------------------
*
*  # Select2 selects
*
*  Styles for select2.js - custom select plugin
*
*  Version: 1.3
*  Latest update: Mar 10, 2016
*
* ---------------------------------------------------------------------------- */
.select2-container {
    outline: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}
.select2-selection--single {
    cursor: pointer;
    outline: 0;
    display: block;
    height: 36px;
    padding: 7px 0;
    line-height: 1.5384616;
    position: relative;
    border: 1px solid transparent;
    white-space: nowrap;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.select2-selection--single:hover,
.select2-selection--single:focus,
.select2-container--open .select2-selection--single {
    -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.01) inset;
    box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.01) inset;
}
.select2-selection--single:not([class*=bg-]) {
    background-color: #fff;
    color: #333333;
}
.select2-selection--single:not([class*=bg-]):not([class*=border-]) {
    border-color: #ddd;
}
.select2-selection--single[class*=bg-]:hover,
.select2-selection--single[class*=bg-]:focus,
.select2-container--open .select2-selection--single[class*=bg-] {
    -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.025) inset;
    box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.025) inset;
}
.select2-selection--single[class*=bg-] .select2-selection__placeholder {
    color: #fff;
}
.select2-container--disabled .select2-selection--single[class*=bg-] .select2-selection__placeholder {
    color: rgba(255, 255, 255, 0.75);
}
.select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 12px;
    padding-right: 31px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.select2-selection--single .select2-selection__rendered > i {
    margin-right: 10px;
}
.select2-selection--single .select2-selection__clear {
    position: relative;
    cursor: pointer;
    float: right;
    font-size: 0;
    line-height: 1;
    margin-top: 2px;
    margin-left: 5px;
    opacity: 0.75;
    filter: alpha(opacity=75);
}
.select2-selection--single .select2-selection__clear:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.select2-selection--single .select2-selection__clear:after {
    content: '\ed6b';
    font-family: 'icomoon';
    display: inline-block;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.select2-selection--single .select2-selection__placeholder {
    color: #999999;
}
.select2-selection--single .select2-selection__arrow:after {
    content: '\e9c5';
    font-family: 'Icomoon';
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -8px;
    font-size: 16px;
    line-height: 1;
    color: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.select2-container--open .select2-selection--single .select2-selection__arrow:after {
    content: '\e9c6';
}
.select2-selection--single .select2-selection__arrow b {
    display: none;
}
.select2-container--disabled .select2-selection--single {
    cursor: not-allowed;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.select2-container--disabled .select2-selection--single:not([class*=bg-]) {
    background-color: #fafafa;
    color: #999999;
}
.select2-container--disabled .select2-selection--single[class*=bg-] {
    -webkit-box-shadow: 0 0 0 100px rgba(255, 255, 255, 0.25) inset;
    box-shadow: 0 0 0 100px rgba(255, 255, 255, 0.25) inset;
}
.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none;
}
.select2-selection--multiple {
    display: block;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: text;
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.select2-selection--multiple:not([class*=bg-]) {
    background-color: #fff;
}
.select2-selection--multiple:not([class*=bg-]):not([class*=border-]) {
    border-color: #ddd;
}
.select2-selection--multiple .select2-selection__rendered {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    list-style: none;
    margin: 0;
    padding: 0 2px 2px 2px;
    width: 100%;
}
.select2-selection--multiple .select2-selection__placeholder {
    color: #999999;
}
.select2-container--disabled .select2-selection--multiple:not([class*=bg-]) {
    background-color: #fafafa;
    color: #999999;
}
.select2-container--disabled .select2-selection--multiple[class*=bg-] {
    -webkit-box-shadow: 0 0 0 100px rgba(255, 255, 255, 0.25) inset;
    box-shadow: 0 0 0 100px rgba(255, 255, 255, 0.25) inset;
}
.select2-container--disabled .select2-selection--multiple[class*=bg-] .select2-selection__choice {
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.select2-container--disabled .select2-selection--multiple,
.select2-container--disabled .select2-selection--multiple .select2-selection__choice,
.select2-container--disabled .select2-selection--multiple .select2-search__field {
    cursor: not-allowed;
}
.select2-selection--multiple .select2-selection__choice {
    background-color: #455A64;
    color: #fff;
    border-radius: 3px;
    cursor: default;
    float: left;
    margin-right: 2px;
    margin-top: 2px;
    padding: 7px 12px;
}
.select2-selection--multiple .select2-selection__choice > i {
    margin-right: 10px;
}
.select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
    cursor: pointer;
    float: right;
    font-size: 14px;
    margin-top: 3px;
    line-height: 1;
    margin-left: 7px;
    opacity: 0.75;
    filter: alpha(opacity=75);
}
.select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.select2-container--disabled .select2-selection--multiple .select2-selection__choice {
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.select2-container--disabled .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
    display: none;
}
.select2-selection--multiple .select2-search--inline {
    float: left;
}
.select2-selection--multiple .select2-search--inline .select2-search__field {
    font-size: 100%;
    margin-top: 2px;
    padding: 7px 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    margin-left: 7px;
    -webkit-appearance: textfield;
}
.select2-selection--multiple .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
.select2-dropdown {
    background-color: #fff;
    color: #333333;
    border: 1px solid #ddd;
    border-radius: 3px;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 9999;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.select2-results {
    display: block;
}
.select2-results__options {
    list-style: none;
    margin: 0;
    padding: 0;
}
.select2-results > .select2-results__options {
    padding-bottom: 7px;
    max-height: 250px;
    overflow-y: auto;
}
.select2-search--hide + .select2-results > .select2-results__options {
    padding-top: 7px;
}
.select2-results:first-child > .select2-results__options {
    padding-top: 7px;
}
.select2-results__option {
    padding: 7px 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.select2-results__option + .select2-results__option {
    margin-top: 1px;
}
.select2-results__option i {
    margin-right: 10px;
}
.select2-results__option i.icon-undefined {
    display: none;
}
.select2-results__option[role=group] {
    padding: 0;
}
.select2-results__option.select2-results__option--highlighted {
    background-color: #f5f5f5;
}
.select2-results__option[aria-disabled=true] {
    color: #999999;
    cursor: not-allowed;
}
.select2-dropdown[class*=bg-] .select2-results__option[aria-disabled=true] {
    color: rgba(255, 255, 255, 0.6);
}
.select2-results__option[aria-selected=true] {
    background-color: #2196F3;
    color: #fff;
}
.select2-results__options--nested > .select2-results__option {
    padding-left: 24px;
    padding-right: 24px;
}
.select2-results__group {
    display: block;
    padding: 7px 12px;
    font-size: 11px;
    line-height: 1.82;
    text-transform: uppercase;
    cursor: default;
    margin-top: 7px;
    margin-bottom: 7px;
}
.select2-results__option:first-child > .select2-results__group {
    margin-top: 0;
}
.select2-results__message {
    color: #999999;
    cursor: default;
}
.select2-dropdown[class*=bg-] .select2-results__message {
    color: rgba(255, 255, 255, 0.75);
}
.select2-results__option.loading-results {
    padding-top: 0;
}
.select2-results__option.loading-results + .select2-results__option {
    margin-top: 7px;
}
.select2-results__option--load-more {
    text-align: center;
    margin-top: 7px;
    cursor: default;
}
.select2-container--open .select2-dropdown {
    left: 0;
}
.select2-container--open .select2-dropdown--above {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.select2-container--open .select2-dropdown--above[class*=bg-] {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.select2-container--open .select2-dropdown--below[class*=bg-] {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.select2-search--dropdown {
    display: block;
    position: relative;
    padding: 12px;
}
.select2-search--dropdown:after {
    content: '\e98e';
    font-family: 'icomoon';
    position: absolute;
    top: 50%;
    left: 24px;
    color: inherit;
    display: block;
    font-size: 12px;
    margin-top: -6px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.select2-search--dropdown + .select2-results .select2-results__message:first-child {
    padding-top: 0;
}
.select2-search--dropdown .select2-search__field {
    height: 36px;
    padding: 7px 12px;
    padding-left: 36px;
    border-radius: 3px;
    border: 1px solid #ddd;
    outline: 0;
    width: 100%;
}
.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
.select2-search--dropdown.select2-search--hide {
    display: none;
}
.select-lg.select2-selection--single {
    height: 40px;
    padding: 9px 0;
    font-size: 14px;
}
.select-lg.select2-selection--single .select2-selection__rendered {
    padding-left: 15px;
    padding-right: 34px;
}
.select-lg.select2-selection--single .select2-selection__arrow:after {
    right: 15px;
}
.select-lg.select2-selection--multiple .select2-selection__choice {
    padding: 9px 15px;
    font-size: 14px;
}
.select-lg.select2-selection--multiple .select2-search--inline .select2-search__field {
    padding: 9px 0;
    font-size: 14px;
}
.select-sm.select2-selection--single {
    height: 34px;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.6666667;
}
.select-sm.select2-selection--single .select2-selection__rendered {
    padding-left: 11px;
    padding-right: 26px;
}
.select-sm.select2-selection--single .select2-selection__arrow:after {
    right: 11px;
}
.select-sm.select2-selection--multiple .select2-selection__choice {
    padding: 6px 11px;
    font-size: 12px;
    line-height: 1.6666667;
}
.select-sm.select2-selection--multiple .select2-search--inline .select2-search__field {
    padding: 6px 0;
}
.select-xs.select2-selection--single {
    height: 32px;
    padding: 5px 0;
    font-size: 12px;
    line-height: 1.6666667;
}
.select-xs.select2-selection--single .select2-selection__rendered {
    padding-left: 10px;
    padding-right: 24px;
}
.select-xs.select2-selection--single .select2-selection__arrow:after {
    right: 10px;
}
.select-xs.select2-selection--multiple .select2-selection__choice {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.6666667;
}
.select-xs.select2-selection--multiple .select2-search--inline .select2-search__field {
    padding: 5px 0;
    font-size: 12px;
    line-height: 1.6666667;
}
.select2-selection--multiple[class*=bg-] .select2-selection__choice {
    background-color: rgba(0, 0, 0, 0.25);
}
.select2-dropdown[class*=bg-] .select2-search--dropdown .select2-search__field {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: transparent;
    color: #fff;
}
.select2-dropdown[class*=bg-] .select2-results__option[aria-selected=true] {
    background-color: rgba(0, 0, 0, 0.2);
}
.select2-dropdown[class*=bg-] .select2-results__option--highlighted {
    background-color: rgba(0, 0, 0, 0.1);
}
.select2-close-mask {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    z-index: 99;
    background-color: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
}
.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: fixed !important;
    width: 1px !important;
}
.select2-result-repository {
    padding-top: 7px;
    padding-bottom: 7px;
}
.select2-result-repository__avatar {
    float: left;
    width: 60px;
    margin-right: 15px;
}
.select2-result-repository__avatar img {
    width: 100%;
    height: auto;
    border-radius: 100px;
}
.select2-result-repository__meta {
    margin-left: 70px;
}
.select2-result-repository__title {
    font-weight: 500;
    word-wrap: break-word;
    margin-bottom: 2px;
}
.select2-result-repository__forks,
.select2-result-repository__stargazers,
.select2-result-repository__watchers {
    display: inline-block;
    font-size: 12px;
}
.select2-result-repository__description {
    font-size: 12px;
}
.select2-result-repository__forks,
.select2-result-repository__stargazers {
    margin-right: 15px;
}
/* ------------------------------------------------------------------------------
*
*  # Bootstrap multiselect
*
*  Styles for multiselect.js - custom multiple select plugin
*
*  Version: 1.0
*  Latest update: May 25, 2015
*
* ---------------------------------------------------------------------------- */
.multiselect {
    width: 100%;
    min-width: 100%;
    text-align: left;
    padding-left: 12px;
    padding-right: 29px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.multiselect.btn-default,
.multiselect.btn-default.disabled {
    background-color: #fff;
    border-color: #ddd;
}
.multiselect.btn-default:active,
.btn-group.open .multiselect.btn-default {
    border-color: #ddd;
}
.multiselect .caret {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -8px;
    width: 16px;
    text-align: right;
}
.multiselect.btn-lg {
    padding-left: 15px;
    padding-right: 30px;
}
.multiselect.btn-lg .caret {
    right: 15px;
}
.multiselect.btn-sm {
    padding-left: 11px;
    padding-right: 22px;
}
.multiselect.btn-sm .caret {
    right: 11px;
}
.multiselect.btn-xs {
    padding-left: 10px;
    padding-right: 20px;
}
.multiselect.btn-xs .caret {
    right: 10px;
}
.multiselect-container {
    min-width: 180px;
    max-height: 250px;
    overflow-y: auto;
}
.multiselect-container > li {
    padding: 0;
}
.multiselect-container > li > a {
    padding: 0;
}
.multiselect-container > li > a > label {
    margin: 0;
    height: 100%;
    cursor: pointer;
    padding: 8px 12px;
    padding-left: 40px;
}
.navbar-form .multiselect-container > li > a > label {
    display: block;
}
.multiselect-container > li > a .checker,
.multiselect-container > li > a .choice {
    top: 50%;
    margin-top: -9px;
    left: 12px;
}
.multiselect-container > li > a.multiselect-all label {
    font-weight: 500;
}
.multiselect-container > li.disabled > a {
    background-color: transparent;
}
.multiselect-container > li.disabled > a > label {
    cursor: not-allowed;
}
.multiselect-container > li.multiselect-group > label,
.multiselect-container > li.multiselect-group.active > label {
    margin: 0;
    padding: 8px 15px;
    font-size: 11px;
    line-height: 1.82;
    color: #999999;
    text-transform: uppercase;
    margin-top: 14px;
    background-color: transparent;
    cursor: default;
}
.multiselect-container > li.multiselect-group.disabled {
    color: #999999;
}
.multiselect-container > li.multiselect-group:first-child > label,
.multiselect-container > li.multiselect-group:first-child.active > label {
    margin-top: 7px;
}
.multiselect-container > li.multiselect-group.multiselect-group-clickable > label {
    cursor: pointer;
}
.multiselect-container > li.multiselect-group.disabled label,
.multiselect-container > li.multiselect-group.disabled:hover label,
.multiselect-container > li.multiselect-group.disabled:focus label {
    background-color: transparent;
    cursor: not-allowed;
}
.multi-select-full > .btn-group {
    width: 100%;
}
.multi-select-full > .btn-group .multiselect-container {
    width: inherit;
}
.multi-select-fixed > .btn-group > .btn {
    width: 250px;
}
.multi-select-auto > .btn-group > .btn {
    width: auto;
}
div[class*=border-] > .btn-group {
    border-color: inherit;
}
div[class*=border-] > .btn-group > .multiselect {
    border-color: inherit;
}
li.multiselect-filter {
    position: relative;
    padding: 5px 12px;
    margin-bottom: 5px;
}
li.multiselect-filter i {
    font-size: 12px;
    position: absolute;
    left: 24px;
    top: 50%;
    margin-top: -6px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
li.multiselect-filter .form-control {
    padding-left: 36px;
}
.input-group-btn + .multi-select-full .multiselect:first-child,
.input-group-addon + .multi-select-full .multiselect:first-child,
.input-group-btn + .multi-select-auto .multiselect:first-child,
.input-group-addon + .multi-select-auto .multiselect:first-child,
.input-group-btn + .multi-select-fixed .multiselect:first-child,
.input-group-addon + .multi-select-fixed .multiselect:first-child,
.input-group-btn + .btn-group .multiselect:first-child,
.input-group-addon + .btn-group .multiselect:first-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.btn-group-multiselect {
    width: 100%;
}
.btn-group-multiselect .btn {
    float: none;
}
.btn-group-multiselect .multiselect {
    min-width: 0;
}
.btn-group > .btn-group:nth-child(2) > .multiselect.btn {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
/* ------------------------------------------------------------------------------
*
*  # SelectBoxIt
*
*  Styles for selectbox.js - custom select boxes plugin
*
*  Version: 1.2
*  Latest update: Mar 10, 2016
*
* ---------------------------------------------------------------------------- */
/* # Core
-------------------------------------------------- */
.selectboxit-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    border-radius: 3px;
}
.selectboxit-container * {
    -webkit-touch-callout: none;
    outline: 0;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.selectboxit-container .selectboxit {
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}
.selectboxit-container .selectboxit:focus {
    outline: 0;
}
.selectboxit-container span,
.selectboxit-container .selectboxit-options a {
    display: block;
}
.selectboxit-container .selectboxit-options {
    width: 100%;
    max-height: 250px;
    padding: 7px 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 999;
    text-align: left;
}
.selectboxit.selectboxit-disabled,
.selectboxit-options .selectboxit-disabled,
.selectboxit.selectboxit-disabled:hover,
.selectboxit-options .selectboxit-disabled:hover,
.selectboxit.selectboxit-disabled:focus,
.selectboxit-options .selectboxit-disabled:focus {
    cursor: not-allowed;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
}
.selectboxit-rendering {
    display: inline-block !important;
    visibility: visible !important;
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}
.selectboxit-list {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 2px 0 0;
    width: 100%;
    min-width: 200px;
    list-style: none;
    position: absolute;
    cursor: pointer;
    display: none;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.selectboxit-list .selectboxit-option-anchor {
    color: #333333;
}
.selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor {
    display: block;
    background-color: #f5f5f5;
    color: #333333;
}
.selectboxit-list > .selectboxit-selected > .selectboxit-option-anchor {
    background-color: #2196F3;
    color: #fff;
}
.selectboxit-list > .selectboxit-disabled > .selectboxit-option-anchor {
    color: #999999;
    cursor: not-allowed;
}
.selectbox-container[class*=border-] > .selectboxit-list {
    border-color: inherit;
}
.selectbox-container[class*=bg-] > .selectboxit-list {
    background-color: inherit;
    border-color: inherit;
}
.selectbox-container[class*=bg-] > .selectboxit-list .selectboxit-option-anchor {
    color: #fff;
}
.selectbox-container[class*=bg-] > .selectboxit-list > .selectboxit-focus .selectboxit-option-anchor {
    background-color: rgba(0, 0, 0, 0.1);
}
.selectboxit-btn {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #333333;
    border-radius: 3px;
    height: 36px;
    padding: 7px 12px;
    padding-right: 29px;
}
.selectboxit-btn:hover {
    -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.01) inset;
    box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.01) inset;
}
.selectboxit-btn.selectboxit-open,
.selectboxit-btn:focus {
    -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.03) inset;
    box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.03) inset;
}
.selectboxit-container[class*=bg-] .selectboxit-btn {
    background-color: inherit;
    border-color: inherit;
    color: inherit;
}
.selectboxit-container[class*=border-] .selectboxit-btn {
    border-color: inherit;
}
.selectboxit-btn[class*=bg-]:hover,
.selectboxit-container[class*=bg-] .selectboxit-btn:hover {
    -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.05) inset;
    box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.05) inset;
}
.selectboxit-btn[class*=bg-].selectboxit-open,
.selectboxit-container[class*=bg-] .selectboxit-btn.selectboxit-open,
.selectboxit-btn[class*=bg-]:focus,
.selectboxit-container[class*=bg-] .selectboxit-btn:focus {
    -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;
}
.input-group .selectboxit-container > .selectboxit-btn {
    border-radius: 0;
}
.input-group .selectboxit-container:last-child > .selectboxit-btn {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.input-group > select:first-child + .selectboxit-container > .selectboxit-btn {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.selectboxit-text {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}
.selectboxit-default-arrow {
    position: relative;
    font-style: normal;
}
.selectboxit-default-arrow:after {
    content: '\e9c5';
    display: block;
    font-family: 'icomoon';
    font-size: 16px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.selectboxit-open .selectboxit-default-arrow:after {
    content: '\e9c6';
}
.selectboxit-option {
    margin: 0;
    list-style-type: none;
}
.selectboxit-option .selectboxit-option-anchor {
    padding: 7px 12px;
}
.selectboxit-optgroup-header {
    margin: 0;
    list-style-type: none;
    padding: 7px 12px;
    font-weight: 700;
    color: #333333;
    font-size: 11px;
    line-height: 1.82;
    text-transform: uppercase;
}
.selectboxit-optgroup-header:hover {
    cursor: default;
}
.selectboxit-optgroup-option .selectboxit-option-anchor {
    padding-left: 24px;
    padding-right: 24px;
}
.selectboxit-arrow-container {
    position: absolute;
    top: 50%;
    width: 16px;
    right: 12px;
    margin-top: -8px;
    text-align: right;
    line-height: 1;
}
.selectboxit-arrow-container .selectboxit-arrow[class*=icon-] {
    top: 0;
}
.selectboxit-arrow-container .caret:after {
    text-align: right;
}
.selectboxit-option-icon-container {
    float: left;
}
.selectboxit-option-icon-container > [class*=icon-] {
    margin-right: 10px;
    width: auto;
}
.selectboxit-option-icon-container .selectboxit-option-icon-url {
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
    border-radius: 100px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}
.selectboxit-option-first {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
.selectboxit-optgroup-header + .selectboxit-option-first {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.selectboxit-option-last {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}
/* # Sizing
-------------------------------------------------- */
.selectbox-fixed + .selectboxit-container,
.selectbox-fixed + .selectboxit-options {
    width: 250px;
}
.selectbox-auto + .selectboxit-container,
.selectbox-auto + .selectboxit-options {
    width: auto;
}
.selectbox-lg + .selectboxit-container .selectboxit {
    padding: 9px 15px;
    padding-right: 30px;
    height: 40px;
    font-size: 14px;
}
.selectbox-lg + .selectboxit-container .selectboxit .selectboxit-arrow-container {
    right: 15px;
}
.selectbox-sm + .selectboxit-container .selectboxit {
    padding: 6px 11px;
    padding-right: 22px;
    height: 34px;
}
.selectbox-sm + .selectboxit-container .selectboxit .selectboxit-arrow-container {
    right: 11px;
}
.selectbox-xs + .selectboxit-container .selectboxit {
    padding: 5px 10px;
    padding-right: 25px;
    height: 32px;
    font-size: 12px;
    line-height: 1.6666667;
}
.selectbox-xs + .selectboxit-container .selectboxit .selectboxit-arrow-container {
    right: 10px;
}
/* ------------------------------------------------------------------------------
*
*  # Bootstrap select
*
*  Styles for bootstrap_select.js - custom select boxes plugin
*
*  Version: 1.2
*  Latest update: Aug 20, 2016
*
* ---------------------------------------------------------------------------- */
.bootstrap-select {
    width: 100%;
}
.bootstrap-select > .btn {
    width: 100%;
    padding-right: 34px;
}
.bootstrap-select > .btn.btn-default,
.bootstrap-select > .btn.btn-default.disabled {
    background-color: #fff;
    border-color: #ddd;
}
.bootstrap-select > .btn.btn-default:active,
.btn-group.open .bootstrap-select > .btn.btn-default {
    border-color: #ddd;
}
.bootstrap-select.form-control {
    padding: 0;
    border: 0;
}
.bootstrap-select.form-control:not([class*="col-"]) {
    width: 100%;
}
.bootstrap-select .popover-title {
    font-size: 11px;
    line-height: 1.82;
    margin: 7px 0;
    padding: 7px 12px;
}
.bootstrap-select[class*=border-] .btn,
.bootstrap-select[class*=border-] .dropdown-menu {
    border-color: inherit;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 220px;
}
.bootstrap-select.fit-width {
    width: auto !important;
}
.bootstrap-select.btn-group.bs-container {
    position: absolute;
}
.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*="col-"] {
    float: none;
    display: inline-block;
    margin-left: 0;
}
.bootstrap-select.btn-group.dropdown-menu-right,
.bootstrap-select.btn-group[class*="col-"].dropdown-menu-right {
    float: right;
}
.bootstrap-select.btn-group > .disabled {
    cursor: not-allowed;
}
.bootstrap-select.btn-group > .disabled:focus {
    outline: 0;
}
.bootstrap-select.btn-group .btn .filter-option {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;
}
.bootstrap-select.btn-group .btn .filter-option > i,
.bootstrap-select.btn-group .dropdown-menu > li > a [class*=icon-] {
    margin-right: 7px;
    float: left;
    margin-top: 2px;
    top: 0;
}
.bootstrap-select.btn-group .btn .caret {
    position: absolute;
    top: 50%;
    width: 16px;
    text-align: right;
    right: 12px;
    margin-top: -8px;
}
.bootstrap-select.btn-group[class*="col-"] .btn {
    width: 100%;
}
.bootstrap-select.btn-group .btn-lg > .caret {
    right: 15px;
}
.bootstrap-select.btn-group .btn-sm > .caret {
    right: 11px;
}
.bootstrap-select.btn-group .btn-xs > .caret {
    right: 10px;
}
.bootstrap-select.btn-group .dropdown-menu {
    min-width: 100%;
}
.bootstrap-select.btn-group .dropdown-menu > li > a .check-mark {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 12px;
    margin-right: 0;
    color: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
}
.bootstrap-select.btn-group .dropdown-menu > li > a .text {
    display: inline-block;
}
.bootstrap-select.btn-group .dropdown-menu > li > a > .label,
.bootstrap-select.btn-group .dropdown-menu > li > a > .badge {
    float: none;
}
.bootstrap-select.btn-group .dropdown-menu > li > a.special-class,
.bootstrap-select.btn-group .dropdown-menu > li > a.special-class:hover {
    font-weight: 700;
    color: #fff;
    background: #F44336;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.bootstrap-select.btn-group .dropdown-menu > li.disabled a {
    cursor: not-allowed;
}
.bootstrap-select.btn-group .dropdown-menu > li small {
    padding-left: 10px;
}
.bootstrap-select.btn-group .dropdown-menu > .selected > a {
    background-color: #2196F3;
    color: #fff;
}
.bootstrap-select.btn-group .dropdown-menu > .selected > a small {
    color: #fff;
}
.bootstrap-select.btn-group .dropdown-menu.inner {
    position: static;
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.bootstrap-select.btn-group .dropdown-menu .notify {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 7px 12px;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    pointer-events: none;
}
.bootstrap-select.btn-group .dropdown-header ~ li > a {
    padding-left: 24px;
}
.bootstrap-select.btn-group .no-results {
    padding: 7px 12px;
    background: #f8f8f8;
    margin-bottom: -7px;
    border-top: 1px solid #ddd;
}
.bootstrap-select.btn-group.fit-width .btn .filter-option,
.bootstrap-select.btn-group.fit-width .btn .caret {
    position: static;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu > li a .text {
    margin-right: 40px;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu > li.selected a .check-mark {
    opacity: 1;
    filter: alpha(opacity=100);
}
.input-group .bootstrap-select > .btn {
    border-radius: 0;
}
.input-group > .bs-select-hidden:first-child + .bootstrap-select > .btn,
.input-group > .bootstrap-select:first-child > .btn {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.input-group > .bootstrap-select:last-child > .btn {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.error .bootstrap-select .btn {
    border: 1px solid #F44336;
}
.control-group.error .bootstrap-select .dropdown-toggle {
    border-color: #F44336;
}
.bs-searchbox,
.bs-actionsbox {
    padding: 5px 12px;
    margin-bottom: 5px;
}
.bs-searchbox {
    position: relative;
}
.bs-searchbox > .form-control {
    padding-left: 36px;
}
.bs-searchbox:after {
    content: '\e98e';
    font-family: 'icomoon';
    position: absolute;
    top: 50%;
    left: 24px;
    color: inherit;
    display: block;
    font-size: 12px;
    margin-top: -6px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.bs-actionsbox {
    float: left;
    width: 100%;
    position: relative;
}
.bs-actionsbox .btn-group button {
    width: 50%;
}
.bs-searchbox + .bs-actionsbox {
    padding: 0 12px 7px;
}
.mobile-device {
    position: absolute;
    top: 0;
    left: 0;
    display: block !important;
    width: 100%;
    height: 100% !important;
    opacity: 0;
}
select.bs-select-hidden,
select.selectpicker {
    display: none !important;
}
.bootstrap-select > select {
    position: absolute!important;
    bottom: 0;
    left: 50%;
    display: block!important;
    width: .5px!important;
    height: 100%!important;
    padding: 0!important;
    opacity: 0!important;
    border: none;
}