/*
    DEMO STYLE
*/

html, body {height:100%;}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    z-index: 999;
    width: calc(100%);
    position: fixed;
    background-color: rgb(0, 156, 148);
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    background: #fff;
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 200px;
    position: fixed;
    top: 54px;
    left: 0;
    height: 100vh;
    z-index: 999;
    color: #fff;
    transition: all 0.5s;
    /*background-image: url("/assets/template/img/001.png");*/

}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);

}

.imagem{
    margin-left: 60px;
max-height: 50px;
    max-width: 40px;
}

#sidebar ul.components {

    padding-top: -20px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    height: 100vh;

}

#sidebar ul p {
    width: 180px;
    color: #fff;
    padding: 10px;
    opacity: 1;

}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.0em;
    display: block;
}

.texto{
    color: black;
}

#sidebar ul li a:hover {
    color: #fff;
    background-color: rgba(0, 181, 81, .40);
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: rgba(0,0,0,0.20);

}

#sidebar ul li a i {
    margin-right: 20px;
}

a[data-toggle="collapse"] {
    position: relative;
}

ul ul a {
    color: black;
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
    background-color: rgba(0,0,0,0.20)

}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 200px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    background: #fff;
}
#content.active {
    width: 100%;
}

.tab-content{
    margin-top: 30px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 800px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }

    #sidebarCollapse span {
        display: none;
    }

    .navbar {
        width: calc(100%);
    }

}


/* ---------------------------------------------------
    HEADER
----------------------------------------------------- */

.header {
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    background: #f4ffff;
}

.panel {
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    background: #f4ffff;

}

.breadcrumb{
    background: #f4ffff;
}



/* ---------------------------------------------------
    FOOTER
----------------------------------------------------- */
*  {
    margin:0;
    padding:0;
}

.push {
    padding: 30px; /* same as the footer */
}

.footer {
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
}

.ancora{
    text-decoration: underline;
    color: #bbbbbb;
    padding: 10px;
}

/* ---------------------------------------------------
    DATERANGEPIKER
----------------------------------------------------- */
.daterangepicker{z-index:1151 !important;}
